<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>EuropeanUniversity</title>

    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='input_form.css')}}">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='give_rating.css')}}">
</head>

<body>
    <div class="top_nav">
        <div class="dropdown left_menu">
            <button  class="left_text mainmenubtn">
                Меню
            </button>

            <div class="dropdown-child">
                <a href="/search_student">Панель студента</a>
                <a class="active" href="/search_user">Панель користувачв</a>
            </div>
        </div>

        <a class="active" href="javascript:window.location.href=window.location.href">Оцінки групи</a>

        <div class="auth_nav dropdown">
            <button  class="mainmenubtn" onclick="location.href='/account'">
                {{data["user"].name}}
                <img class=profile_img src="{{data['user'].google_profile_pic}}" alt="Google profile pic">
            </button>

            <div class="dropdown-child">
                <a href="/account">Особистий кабінет</a>
                {% block content %}
                {%for role in data["user"].roles.user_roles%}

                        {% if role.name == 'Admin' %}
                            <a href="/search_student">Адмін</a>
                        {% elif role.name == 'Teacher' %}
                            <a href="/teacher">Вчитель</a>
                        {% elif role.name == 'Student' %}
                            <a href="/account">Студент</a>
                        {% endif %}

                {%endfor%}
                {% endblock content %}
                <a href="/logout">Вийти</a>
            </div>
        </div>
    </div>

    <main class="form-sign">
        <form action="" method="post">
            <h1>Група {{credit.group}} {{credit.subject}} {{credit.date}}</h1>
            <div class="input_block">

                {%for student in students_list%}
                <div class="student_block">
                    <div class="student_name_container">
                        <label class="student_name">{{student.name}}</label>
                    </div>


                    <div class="form-floating small">
                        <input disabled class="form-control small"
                               name={{student.id}} id={{student.id}} value="{{grades_dict[student.id].grade_amount}}" required>
                        <label for={{student.id}}>Бали</label>
                    </div>
                </div>
                {%endfor%}

            </div>

      </form>
  </main>

</body>
</html>
