main {
    position: relative;
    display: flex;
    top: 2em;
    left: 10%;
}

.search_container {
    width: 25%;
    margin-left: 1em;
}

.search_container input {
    width: 100%;
    height: 3em;
}

input:focus{
    outline: none;
    border:1px solid #2196F3;
}

.search_container .btn {
  position: relative;
  float: right;
  margin-right: 0.5em;
  margin-top: -2.6em;
  padding-bottom: 0.1em
  height: 2em;
  width: 20%;
  min-width: 100px;
  color: #fff;
  background-color: #292039;
}

.search_container .btn:hover, .btn:focus {
  background-color: #2196F3;
  color: white;
  box-shadow:none;
}

.search_block {
    position: relative;

}

table {
    position: relative;
    color: #e9e9e9;
    width: 55%;
    height: min-content;
    border-collapse: collapse;
}

tr {
    height: 3em;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    border-color:#292039;
    background-color: #292039;
}

.clickable:hover {
    background-color: #2196F3;
}