<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>EuropeanUniversity</title>

    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='index.css')}}">
</head>

<body>
    <div class="top_nav">
        <a class="active" href="/">Головна</a>
        <a  href="add_student">Додати студента</a>
        <a  href="update_student">Редагувати студента</a>
        <a href="search_student">Пошук</a>
        <div class="auth_nav">
            <a  href="account">{{data["user"].name}}</a>
        </div>
    </div>

</body>
</html>
